.rectangle4{
    background-color: black;
    height: 40px;
    width: 2000px;
    color: aliceblue;
    text-align: center;
    
}

.hello{
    display: flex;
}
#volumes{
    
}
.volume{
    margin: 0 auto;
    right: 0;
    margin-right: 100px;
    
}
.hello p{
    font-size: 20px;
}


ul{
    width: 60%;
    display: flex;
    gap: 80px;
    margin: 0 auto;
    margin-right: 100px;
}
a{
    text-decoration: none;
}
#moving{
    width: 100%;
    margin-top: 30px;
}
.move{
    /* position: absolute; */
    text-align: center;
    color: white;
}
.strive-move{
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;

    
}
.strive-move p{
    color: white;
}
.strive-move h1{
font-size: 60px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#button{
    background-color: yellow;
    width: 20%;
    height: 50px;
}


.easy-fun{
    display: flex;
    margin-top: 40px;
}
.learn a{
    text-decoration: underline;
    color: black;
    margin-bottom: 80px;
    margin-top: 40px;
    margin:0 auto;
}
.long p{
    font-size: 60px;
    margin-bottom: 80px;
}
.box{
    margin-top: 40px;
    width: 60%;
}
.num h1{
    color: black;
}
.room{
    width: 45%;
    margin-top: 100px;
}
.since p{
font-size: large;
}



.logos{
    display: flex;
    gap: 90px;
    margin-top: 70px;
}
.what-do,p{
    color: black;
    font-size: xx-large;
}
.services{
    display: flex;
    margin-top: 70px;
    gap: 190px;
    color: black;
    
}
.storage{
    background-color: rgb(43, 43, 226);
    color: white;
}
.trust p{
 font-size: 40px;   

}
.decor a{
color: black;
position: absolute;

}
.shift{
    display: flex;
}
.decor p{
padding-bottom: 100px;


}
.decor img{
    width: 150%;
    position: relative;
    padding-bottom: 100px;
    padding-right: 100% blue;
    
}
.sentence{
    font-size: xx-small;
    margin-left: 500px;
}
.list{
    display: inline;
    font-size: 20px;
}
.request{
    
    width: 100%;
    margin:300px;

    
}
.smart{ 
    display: flex;

}
.form{
    background-color: blue;
    width: 100%;
    display: flex;
}
.form2{
    background-color: blue;
    width: 100%;
}
.book{
    background-color: orange;
    width: 30%;
}
#man{
    width: 50%;
}
input{
    width: 80%;
    gap: 30px;
}
label{
    font-size: larger;
}
#form-button{
    width: 84%;
    margin-top: 40px;
}

.testimonials{
display: flex;
text-align: center;
gap: 40px;
margin-left: 500px;
}
.say h1{
    text-align: center;
    font-size: 40px;
} 
.say a{
    text-align: center;
    color: black;
    margin:800px;
}
.newletter {
    text-align: center;
    margin: 500px;
}
.news{
    display: flex;
    width: 100%;
    margin-top: 100px;
}
.image1{
    width: 300%;
}

.rectangle{
    height: 200px;
    width: 1000px;
    background-color: orange;
}
.rectangle2{
    height: 400px;
    width: 1000px;
    background-color: black; 
    display: flex;  
}





